/.idea/workspace.xml
/.idea/gitlab-quickmr.xml
/.idea/uiDesigner.xml
#######/.idea/**
/bin/
/out/
/output/
*/bin/**
*/build/**
*/target/**

/.gradle
/buildSrc/**

/doc/

#######/COMP*/
/target/**


./is-debugging.flag
/elijah-elaveted-potential/elevated-potential-2/is-debugging.flag
/.clj-kondo/.cache/v1/
